@include reset;
.head{
   
    background-color: #111111;
    padding: 10px;
    .logo .btn{
       font-size:16px;
        font-weight: 700;
        

    }
    a{
        color: #ffffff;
    }
}
.dot {
    height: 11px;
    width: 11px;
    background-color: rgb(148, 138, 138);
    border-radius: 50%;
    display: inline-block;
  }
.head .grid{
   
    gap: 10px;
   
    display: grid;
    grid-template-columns:200px 1fr auto;
    grid-template-rows: 1;
   
}
nav ul li a{
    padding: 6px 10px;
}
nav ul li a:hover{
    border-bottom:1px solid white;

}
.user>*{
   margin: 0 5px;
   border-radius: 40px;
   padding: 10px 20px;
   
}

nav .flex{
    justify-content: flex-end;
    padding-right: 20px;
}


.hero{
    background-color: #acacac;
    min-height: 400px;
    color: #efefef;
    text-align: center;
    h1{
        padding:20px;
    font-size: 2.5rem;
    }
    p{
        padding: 0 220px;
    }

    
}
.hero-blue-bar{
    .flex{
        justify-content: center;
    }
    .container{
        max-width: 800px;
    }
    background-color: $primary-bg-color;
    color: #acacac;
    padding: 20px;
    min-height: 50px;
    .btn-long{
       border:1px solid white;
       margin: 0 70px;
    }

}
  


    
.paypal .container{
    max-width: 800px;
    h1{
        color: #404040;
        font-size: 2rem;
    }
    p{
        line-height: 2;
        color: #6f6f6f;
    }
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));

    grid-template-rows: auto;
    gap: 20px;
   

}




.windows {
    background-color: #d5d3d3;
    min-height: 500px;
    overflow: auto;
    
      .btn{
        padding: 10px 80px;
      }
      li a{
          padding:10px
      }
    }

    .btcenter{
        margin: 0 auto;
       text-align: center;}

.boxes{
    display: grid;
    grid-template-columns: 1fr 50px 1fr 50px 1fr
        
}
.arrow{
    align-self: center;
    font-size: 60px;
    text-align: center;
    color: rgb(168, 168, 155);

}
.box{
  justify-self: center;
    height: 200px;
    width: 240px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    .head{
        background-color: #e5e1e1;
        padding: 6px;

    }
    .body{
        min-height: 100%;
        background-color: white;
    }
}

.guide-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    .numbers{
        text-align: center;
        display: inline-block;
        width: 50px;
        height: 50px;
      color: black;
        border-radius: 50%;
        line-height: 50px;
        border:1px solid black
    }
    .flex>*{
        margin: 3px;
    }

    

}
.join{
    h1{
        color: rgb(196, 205, 247);
    }
    background-color: $primary-bg-color;
 .join-columns{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-template-rows: 1fr;
     gap: 20px;
     color: rgb(196, 205, 247);

 }

}

.get-started{
    background-color:#efefef;
    min-height: 200px;
    
   .container{
    padding-top: 50px;
   }
   .btn{
    margin-top: 40px;
    padding: 10px 70px;
   }
}

footer{
   
   
    min-height: 100px;
}
footer .flex{
    justify-content: space-between;
   
}
footer li{
    padding: 0 10px;
    a{
        color: black;
        font-weight: 700;
    }
}
@media(max-width:930px){
    .head .grid{
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        text-align: center;
     
    }
 
    .hero-blue-bar .container{
        max-width: 1100px;
        margin: 0;
        padding: 0;      
    }
    
    nav .flex{
        justify-content: center;
       padding-right: 0;
    }
    .head{
        min-height: 170px;
    }
    ul li{
        padding:10px;
    }
    .hero{
        p{
            padding:  0 80px;
        }
    }

}
@media(max-width:862px){
    .boxes{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;



            
    }
  
    .guide-grid{
        grid-template-columns: 1fr;
       
    }
    .guide-grid .flex{
        justify-content: flex-start;
    }
    .join-columns{
       
        grid-template-columns: repeat(2,1fr) !important;

        grid-template-rows: 1fr 1fr; 
        gap: 10px;
        color: rgb(196, 205, 247);
   
    }
    .arrow{
      display: none;
    }
}
@media(max-width:798px){
 
       
    .boxes{
        gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: repat(3, 1fr);
    }
    .box{
        width: 100%;
    }
}

@media(max-width:560px){
    nav .flex{
        flex-direction: column;
        justify-content: center;
        
      
    }
    .join-columns{
       
        grid-template-columns: 1fr !important;

        grid-template-rows: repeat(4,1fr); 
        gap: 10px;
        color: rgb(196, 205, 247);
   
    }
    footer .flex{
        flex-direction: column;
    }
    .hero-blue-bar .container >*{
       padding: 10px;      
    }
    .hero-blue-bar .flex{
        flex-direction: column;
    }
    .hero{
        p{
            padding:  0 20px;
        }

    

}
}

  